<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eslbuddy.juanmartinez.eslbuddy">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecordedTextActivity"
            android:label="@string/title_activity_recorded_text" />
        <activity
            android:name=".RecordingActivity"
            android:label="@string/title_activity_recording" />
        <activity
            android:name=".SavedRecordingActivityPopUp"
            android:label="@string/title_activity_saved_recording_pop_up" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/MenuTheme" />
        <activity
            android:name=".ListOfWordsActivity"
            android:label="@string/title_activity_recent_words" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".LanguageSetupActivity"
            android:label="@string/title_activity_language_setup" />
        <activity
            android:name=".LanguageSelectionActivity"
            android:label="@string/title_activity_language_selection" />
        <activity
            android:name=".TTSSettingActivity"
            android:label="@string/title_activity_ttssetting" />
        <activity
            android:name=".ReviewRecordingActivity"
            android:label="@string/title_activity_review_recording" />
        <activity
            android:name=".MenuWordsActivity"
            android:label="@string/title_activity_menu_words" />
        <activity
            android:name=".QuizActivity"
            android:label="@string/title_activity_quiz" />
        <activity
            android:name=".QuizResponseActivity"
            android:label="@string/title_activity_correct_response" />
        <activity
            android:name=".NameSettingsActivity"
            android:label="@string/title_activity_name_settings"></activity>
    </application>

</manifest>